/* ------------------------- */
/* css resets  */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* ------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/* variables and html element */
/* ------------------------- */

@font-face {
  font-family: "hack";
  src: url("../assets/fonts/Hack/hack.ttf");
}

:root {
  /* colors */
  --clr-primary: #e46aac;
  --clr-secondary: #11e378;
  --clr-yellow: #f1fa94;
  --clr-light: #ffffff;
  --clr-dim: #afafaf;
  --clr-dark: #0d1419;
  --clr-background: #23333f;
  --clr-background-light: #3e5c72;
  --clr-background-transparent: #23333f7c;
  --clr-dark-dim: #343b41;

  /* border radius */
  --br: 5px;

  /* spacing */
  --sp-0: 0.3rem;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --sp-4: 2rem;
  --sp-5: 3rem;

  --font-family: "Montserrat", sans-serif;

  /* font size */
  --fz--1: 0.9rem;
  --fz-0: 1rem;
  --fz-1: 1.2rem;
  --fz-2: 1.6rem;

  /* font weight */
  --fw-light: 400;
  --fw-bold: 500;

  /* z index */
  --z-idx-nav-btn: 1000;
  --z-idx-nav: 999;
  --z-idx-backdrop: 9;
  --z-idx-backgound: -20;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--clr-light);
  background-color: #23333f;
}

a {
  color: var(--clr-light);
  text-decoration: none;
}

a:hover {
  color: var(--clr-secondary);
}

/* ------------------------- */
/* custom resuable classes
/* ------------------------- */

.nf,
.nerd-font,
.nerd-fonts {
  font-family: "hack";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nf-custom-vim::before {
  content: "\e7c5";
}

.nf-custom-postgres::before {
  content: "\e76e";
}

.nf-custom-mongo::before {
  content: "\e7a4";
}

.nf-custom-ts::before {
  content: "\fbe4";
}

.nf-custom-hand::before {
  content: "\f256";
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 26px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 26px -2px rgba(0, 0, 0, 0.4);
}

.block {
  border-radius: var(--br);
  background: #0d1419;
  -webkit-box-shadow: 0px 0px 26px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 26px -2px rgba(0, 0, 0, 0.4);
}

.container {
  margin: auto;
  padding: var(--sp-3);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow-shrink {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* ------------------------- */
/* navbar
/* ------------------------- */

.navbar__button {
  position: fixed;
  top: var(--sp-2);
  right: var(--sp-2);
  z-index: var(--z-idx-nav-btn);
}

.navbar__button i {
  font-size: var(--fz-2);
  color: var(--clr-secondary);
  cursor: pointer;
}

.navbar__button .fa-times {
  font-size: 2rem;
}

.navbar__button--close {
  display: none;
}

.navbar__button--open {
  display: block;
}

.navbar {
  display: flex;
  overflow: hidden;
  position: fixed;
  z-index: var(--z-idx-nav);
  background-color: var(--clr-dark);
  width: 100%;
  height: 0%;
  transition: 1s ease-in-out;
}

.navbar__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-dark);
  opacity: 75%;
  z-index: var(--z-idx-backdrop);
  transition: 1s ease-in-out;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
  opacity: 0%;
  font-size: var(--fz-1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-5);
  transition: 1s ease-in-out;
}

.navbar--show {
  height: 60%;
}

.navbar--show ul {
  opacity: 100%;
}

.navbar__backdrop--open {
  display: block;
}

/* ------------------------- */
/* hero
/* ------------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 105vh;
  width: 100vw;
  z-index: var(--z-idx-backgound);
  background-color: #21333e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='701' height='350.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%2300E37E' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23EC6AAB' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.56' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.hero__top {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-dark);
}

.window-style {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-bottom: none;
  background-color: var(--clr-background);
  cursor: move;
}
.window-icons {
  display: flex;
  padding-left: var(--sp-2);
  align-items: center;
  gap: var(--sp-1);
}

.window-icons div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  cursor: pointer;
}

.window-icons div:hover {
  box-shadow: 0px 0px 2px 2px var(--clr-primary);
}

.window-icons div:nth-child(2) {
  background-color: var(--clr-yellow);
}

.window-icons div:nth-child(2):hover {
  box-shadow: 0px 0px 2px 2px var(--clr-yellow);
}

.window-icons div:nth-child(3) {
  background-color: var(--clr-secondary);
}

.window-icons div:nth-child(3):hover {
  box-shadow: 0px 0px 2px 2px var(--clr-secondary);
}

.hero__text {
  margin: var(--sp-2);
  padding: 0 var(--sp-2);
  border-left: 2px solid var(--clr-primary);
}

.hero__title {
  font-size: var(--fz-2);
  margin-bottom: var(--sp-1);
}

.hero__title span:first-of-type {
  display: block;
  font-size: var(--fz-1);
  font-weight: var(--fw-light);
  margin-bottom: var(--sp-1);
}

.hero__subtitle {
  font-size: var(--fz-0);
  color: var(--clr-dim);
  margin-bottom: var(--sp-1);
}

.hero__img {
  margin-top: calc(var(--sp-3) + 1rem);
  margin-bottom: var(--sp-2);
  position: relative;
  padding: var(--sp-1);
  border-radius: var(--br);
  border: 2px dashed var(--clr-primary);
}

.hero__img img {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  border-radius: var(--br);
}

.hero__social-links {
  padding-bottom: var(--sp-3);
}

.hero__social-links h3 {
  font-size: 0.9rem;
  font-weight: var(--fw-light);
  text-align: center;
  margin-bottom: var(--sp-1);
}

.social-links {
  display: flex;
  gap: var(--sp-4);
  align-items: center;
  justify-content: center;
}

.social-link i {
  height: 2rem;
  width: 2rem;
  border-radius: var(--br);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fz-0);
}

.social-link:hover i {
  background-color: var(--clr-secondary);
  color: var(--clr-dark);
}

.go-down {
  display: none;
  position: absolute;
  bottom: var(--sp-3);
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: calc(var(--fz-2) + 1rem);
  width: calc(var(--fz-2) + 1rem);
  animation: bounce 1.2s infinite;
  cursor: pointer;
}

.go-down i {
  font-size: var(--fz-2);
  counter-reset: var(--clr-light);
}

.go-down:hover {
  border-color: var(--clr-secondary);
}
.go-down:hover i {
  color: var(--clr-secondary);
}

@media screen and (min-width: 768px) {
  .navbar__button {
    top: var(--sp-4);
    right: var(--sp-4);
  }

  .hero {
    padding-top: 0;
  }

  .hero__top {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 890px;
  }

  .hero__text {
    margin-top: calc(var(--sp-4) + 1rem);
    margin-right: 0;
    flex: 1;
    order: 1;
  }

  .hero__img {
    order: 2;
    overflow: hidden;
  }

  .hero__img {
    margin-right: var(--sp-2);
    margin-top: calc(var(--sp-4) + 2.5rem);
  }

  .hero__social-links {
    width: 100%;
    order: 3;
    margin-top: var(--sp-1);
  }

  .social-link i {
  }

  .go-down {
    display: flex;
  }
}

/* ------------------------- */
/* sections
/* ------------------------- */

.section {
  margin-top: var(--sp-4);
}

.section h2 {
  font-size: var(--fz-2);
  border-bottom: 2px solid var(--clr-primary);
  margin-bottom: var(--sp-2);
  padding-bottom: var(--sp-1);
}

.section p {
  margin-bottom: var(--sp-1);
}

.section-break {
  margin: var(--sp-2);
  display: flex;
  gap: var(--sp-3);
  align-items: center;
  justify-content: center;
}

.section-break .fa-times {
  font-size: 1.4rem;
  color: var(--clr-secondary);
}

.section-break .fa-circle {
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.section-break:hover i {
  animation: spin 1s linear infinite;
}

/* ------------------------- */
/* about me
/* ------------------------- */

.about-me {
  padding-top: calc(var(--sp-3) + 5vh);
}

/* ------------------------- */
/* tools & tech
/* ------------------------- */

.tech__subsection {
  margin-bottom: var(--sp-2);
}

.tech__subsection h3 {
  margin-bottom: var(--sp-1);
}

.tech__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-2);
}

.tech {
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-2);
}

.tech:hover {
  background-color: var(--clr-secondary);
}

.tech img {
  height: 100%;
  object-fit: scale-down;
}

@media screen and (min-width: 768px) {
  .tech {
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (min-width: 992px) {
}

/* ------------------------- */
/* portfolio
/* ------------------------- */

.projects {
  display: flex;
  flex-direction: column;
  gap: var(--sp-3);
  margin-top: var(--sp-3);
}

.project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--clr-dark);
}

.project__img {
  height: 7rem;
}

.project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__desc {
  width: 100%;
  height: 8rem;
  padding: var(--sp-2) var(--sp-2);
}

.project__desc p {
  margin-top: var(--sp-1);
  font-size: var(--fz--1);
  color: var(--clr-dim);
}

@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: calc(50% - var(--sp-3));
  }
}

@media screen and (min-width: 992px) {
  .project {
    width: calc(33% - var(--sp-3));
  }
}

@media screen and (min-width: 1200px) {
}

/* ------------------------- */
/* contact me
/* ------------------------- */

.contact-me form {
  margin: auto;
  margin-top: var(--sp-3);
  display: flex;
  padding: var(--sp-2);
  border: 2px solid var(--clr-dark);
  border-radius: var(--br);
  flex-direction: column;
  gap: var(--sp-1);
}
.contact-me input,
.contact-me textarea {
  margin-bottom: var(--sp-1);
  background-color: var(--clr-background-light);
  color: var(--clr-light);
  border: 2px solid var(--clr-dark);
  border-radius: var(--br);
  padding: var(--sp-1);
}

.contact-me input {
  height: 2.5rem;
}

.contact-me textarea {
  height: 8rem;
}

.contact-me input[type="submit"] {
  background-color: var(--clr-dark);
  cursor: pointer;
}

.contact-me input[type="submit"]:hover {
  color: var(--clr-dark);
  background-color: var(--clr-secondary);
}

@media screen and (min-width: 768px) {
  .contact-me form {
    max-width: 500px;
  }
}
